
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
<script>"https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"</script>
<link rel="stylesheet" href="/index.css">
<nav>
    <h3>TestDemo</h3>
<ul>
    {{!-- <li><a href="/">Home</a></li> --}}
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
</ul>
</nav>
<div class="container mt-4">
<div class="jumbotron">
    <h1 class="display-4"><h3>Logged In</h3></h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg b" href="#" role="button">Learn more</a>
  </div>
</div>
  